<!-- Sidebar Menu -->
<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
    <li class="nav-item">
      <a th:href="@{/dashboard}" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
          Dashboard
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{/transaction}" class="nav-link" th:classappend="${currentTitle == 'transaction'} ? active : 'no'">
        <i class="nav-icon fas fa-receipt"></i>
        <p>
          Transaction
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{/wallet}" class="nav-link">
        <i class="nav-icon fas fa-wallet"></i>
        <p>
          Wallet
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{/budget}" class="nav-link">
        <i class="nav-icon fas fa-piggy-bank"></i>
        <p>
          Budget
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{/category}" class="nav-link">
        <i class="nav-icon fas fa-list"></i>
        <p>
          Category
        </p>
      </a>
    </li>
  </ul>
</nav>
<!-- /.sidebar-menu -->